body {
    background-color: #f2eedd;
}

.logo {
    height: 200px;
}

.logo > img {
    width: 300px;
    cursor: pointer;
}

.header {
    width: 50px;
    height: 100%;
    display: block;
    background-color: #717f64;
}