<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Search Result</title>
    <link rel="stylesheet" href="../../../static/css/after_search.css">
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <div class="logo">
                <img src="../../../static/img/lib_logo.png">
                <hr>
            </div>
        </div>
        <div class="Txt">도서 검색</div>
            <form action="" method="get">
                <input type="text" name="q" value="{{ q }}" id="search_txt"/>
                <label for="search"><img src="../../../static/img/search.png" class="search_png">
                    <input type="submit" id="search" formaction="../../../book/templates/book/after_search.html"/>
                </label>
            </form>

        <div class="content">
            <div class="result">'{{ p }}' 검색 결과</div>
            <div class="img">
                {% if book.photo %}
                    <img src="{{ book.photo.url }}" style="width: 100px;">
                {% else %}
                    <!-- 등록된 표지 이미지가 없을 경우 -->
                    <img src="../../../static/img/warning.png" style="background-color: #19250e;">
                {% endif %}
            </div>
            <div class="info">
                <span>깃 서버 테스트</span>
            </div>
        </div>
    </div>
</body>
</html>