<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Book Info</title>
    <link rel="stylesheet" href="../../../static/css/book_info.css">
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <div class="logo">
                <img src="../../../static/img/lib_logo.png">
                <hr>
            </div>
        </div>
        
        <div class="content">
            <div class="title">도서 상세 정보</div>
            <div class="book_img">
                <img src="../../../static/img/no_image.png" alt="">
            </div>
            <div class="most_info">
                <ul>
                    <li>
                        (제목)
                    </li>
                    <li>
                        (edition)
                    </li>
                    <li>
                        (가격)원
                    </li>
                    <li>
                        (출판년도) 년
                    </li>
                </ul>
            </div>
            <!-- 줄거리 구역 -->
            <div></div>
            <div class="description">
                트렌드 코리아 2023","1판","19000","2022","세계화의 종말, 갈등과 분열, 그리고 전쟁. 수십 년간 이어져 온 평화와 공존의 시대는 막을 내리고 엄청난 위기감 속에서 사람들은 다가올 미래를 두려워한다. 자산시장 및 증시의 버블붕괴는 마치 2008년 글로벌 경제위기의 데자뷔를 보는 듯하다. 제2의 외환위기 경고도 들려온다. 매우 부정적인 전망이 압도하는 2023년을 목전에 두고 있는 지금, 소비 트렌드 전망에서 가장 중요한 것은 무엇이 반복되고 무엇이 달라질 것인가를 구별하는 작업일 것이다. 즉, ‘불황기의 소비 패턴’을 과거와 비교해보는 것이고, 또 하나는 ‘소비의 전형성’이 사라지는 시대의 흐름을 분석하는 것이다. 이른바 ‘평균 실종’이 가장 첫 번째 키워드인 이유다. 변화의 속도가 더욱 빨라지는 2023 대한민국. 소비자들은 어떤 선택을 할 것인가?
            </div>
        </div>
    </div>
</body>
</html>