<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>동동서관/ Book List</title>
    <link rel="stylesheet" href="../../../static/css/book_list.css">
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <div class="nav">
                <ul>
                    <a href="../../../accountapp/templates/mem_login.html"><li>로그아웃</li></a> <!-- 다시 로그인 화면으로 -->
                    <li>|</li>
                    <a href="#"><li>대여/반납 확인</li></a>
                </ul>
            </div>
            <div class="logo">
                <img src="../../../static/img/lib_logo.png" alt="">
                <hr>
            </div>
        </div>
        <div class="Txt">도서 검색</div>
        <form action="" method="get">
            <input type="text" name="q" value="{{ q }}" id="search_txt"/>
            <label for="search"><img src="../../../static/img/search.png" class="search_png">
                <input type="submit" id="search"/>
            </label>
        </form>

        <div class="content">
            {% for book in book_list %}
            <ul class="card">
                <li>
                    <div class="img">
                        {% if book.photo %}
                            <img src="{{ book.photo.url }}" style="width: 100px;">
                        {% else %}
                            <!-- 등록된 표지 이미지가 없을 경우 -->
                            <img src="../../../static/img/warning.png" style="background-color: #19250e;">
                        {% endif %}
                    </div>
                    <div class="text">
                        <h2>{{ book.title }}</h2>
                        <p>{{ book.edition }}</p>
                        <div class="button">
                            <a href="#">
                                <div class="btnText">
                                    상세 보기
                                </div>
                                <div class="btnTwo">
                                    <p class="btnText2">GO!</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
            {% endfor %}
        </div>

    <!--
        <table class="table table-bordered table-hover">
            <tbody>
                {% for book in book_list %}
                    <tr>
                        <td>
                            {% if book.photo %}
                                <img src="{{ book.photo.url }}" style="width: 100px;" />
                            {% else %}
                                No Photo
                            {% endif %}
                        </td>
                        <td>
                            {{ book.title }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        -->
    </div>
</body>
</html>