<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>동동서관/ Book List</title>
    <link rel="stylesheet" href="../../../static/css/book_list.css">
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <div class="nav">
                <ul>
                    <li>{{ Member.mem_name }}님 안녕하세요!</li>
                    <a href="../../../accountapp/templates/accountapp/mem_login.html"><li>로그아웃</li></a> <!-- 다시 로그인 화면으로 -->
                </ul>
            </div>
            <div class="logo">
                <img src="../../../static/img/lib_logo.png" alt="">
            </div>
            <div class="banner">
                <img src="../../../static/img/lib_img.jpg">
            </div>
        </div>
        <div class="content_nav">
            <div class="dot"> </div>
            <ul>
                <a href="book_list.html"><li>도서 검색</li></a>
                <a href="book_info.html"><li>도서 신청</li></a>
            </ul>
        </div>
        <hr>
        <form action="" method="get">
            <input type="text" name="q" value="{{ q }}" id="search_txt"/>
            <label for="search"><img src="../../../static/img/search.png" class="search_png">
                <input type="submit" id="search"/>
            </label>
        </form>

        <div class="content">
            {% for book in book_list %}
            <ul class="card">
                <li>
                    <div class="img">
                        {% if book.photo %}
                            <img src="{{ book.photo.url }}" style="width: 100px;">
                        {% else %}
                            <!-- 등록된 표지 이미지가 없을 경우 -->
                            <img src="../../../static/img/warning.png" style="background-color: #19250e;">
                        {% endif %}
                    </div>
                    <div class="text">
                        <h2 style="font-size: 15px;">{{ book.title }}</h2>
                        <p>{{ book.edition }}</p>
                        <div class="button">
                            <a href="{% url 'book:searchbook' book.isbn %}">
                                <div class="btnText">
                                    상세 보기
                                </div>
                                <div class="btnTwo">
                                    <p class="btnText2">GO!</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
            {% endfor %}
        </div>

        <div id="footer">
            <address>
                <em><a href="" class="logo"><span class="blind"></span></a></em>
                <em class="copy">고려대학교 세종캠퍼스</em>
                <em class="u_cri">©</em>
                <a href="#" class="u_cra">동동서관</a>
            </address>
        </div>
    </div>
</body>
</html>