<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Book Info</title>
    <link rel="stylesheet" href="../../../static/css/book_info.css">
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <div class="logo">
                <a href="{% url 'book:book' %}">
                    <img src="../../../static/img/lib_logo.png">
                </a>
                <hr>
            </div>
        </div>
        
        <div class="content">
            <div class="title">도서 상세 정보</div>
            <div class="book_img">
                <img src="../../../static/img/no_image.png" alt="">
            </div>
            <div class="most_info">
                <ul>
                    <li>
                        {{ book.title }}
                    </li>
                    <li>
                        {{ book.edition }}
                    </li>
                    <li>
                        {{ book.price }}원
                    </li>
                    <li>
                        {{ book.public_year }} 년 출판
                    </li>
                </ul>
            </div>
            <!-- 줄거리 구역 -->
            <div class="dis_text">줄거리</div>
            <div class="description">
                {{ book.description }}
            </div>

            <!--예약 버튼 -->
            <form action="">
                <div id="btn">
                    <a href=""><button type="button" class="custom btn-1" onclick="test()">예약하기</button></a>
                </div>
            </form>
        </div>
    </div>

    <script>
        function test(){
            alert("예약이 완료되었습니다.")
        }
    </script>
</body>
</html>